.container{
   width:200%;
   height:200vh;  
  
background:#87dbf4;
display:block;
align-items:center;
justify-content: CENTER;
}
.calculator{
background: rgb(104, 104, 239);
padding:50px;
border:0px;
font-size:30px;
margin:10px;
background:#fff;

}
.calculator form input{
height:60px;
 width:60px;

 cursor:pointer;
}
.display{
   display:flex;
   justify-content:flex-end;
   margin:20px 0;
   color:black;
}
 form .display input{
text-align:left;
flex:1;
color:black;
font-size:40px;
width:145px;
}